@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
  }

  body{
    background: whitesmoke;
  }

  nav { 
    display: flex;
    justify-content: space-between;   
    color: whitesmoke ;
    font-size:xx-large ;
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgb(56, 56, 175);
  }

  #high_score_page {
    border: none;
    color: whitesmoke;
    background: none;
  }

   section {
    
    width: 600px;
    height: 400px;
     left: 25%; 
    align-items: center;
   }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(56, 56, 175);
  border-radius: 10px;
  color:whitesmoke;
  box-shadow: rgba(0,0 ,0 , 0.20) ;
  font-size: 18px;
  max-width: 800px;
  padding: 30px 40px;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto; 
 
}

h1, h2, p {
  font-size: 1.5rem;
  text-align:center;
}

h1.start__quiz {
  font-weight: 700;
  font-style: italic;
  justify-content: center;
}

div.content{
  padding: 1.5rem;
  align-items: center;
  justify-content: center;

}

.start {
  display: flex;
  justify-content: center;
  }

#start-btn {
  border: none;
  background-color: rgb(58, 174, 219);
  border-radius: 25px;
  color:whitesmoke;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 16px;
  margin-left: auto;
   margin-right: auto;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  max-width: 200px;
  justify-content: center;
  
} 

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#q-title {
  text-align: left;
  font-weight: 600;
}

.choice {
  border: none;
  background-color: hsl(204, 68%, 50%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 22px;
  line-height: 22px;
  padding: 14px 10px 14px 10px;
  margin: 5px 0px 5px 0px;
}  

#question-section{
  visibility: hidden;
}
#end__quiz, 
#high_score_screen   {
  margin-bottom: 2rem;
  visibility: hidden;
}
#right-wrong {
  font-style: italic;
  visibility: hidden;
} 

h3 {
  font-weight: 700;
}

div.endscreen.h5 {
  align-content: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

div.final_score {
  margin-top: 10px;
} 

#score-submit {
  max-width: 150px;
  font-size: 18px;
  line-height: 18px;
  background-color:  hsl(204, 68%, 50%);
} 

#back, #clear, #name-submit {
    border: none;
    background-color: hsl(204, 68%, 50%);
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 16px;
    padding: 14px 18px;
    text-align: center;
    cursor: pointer;
    max-width: fit-content;
    margin-right: 1rem;
} 

/* Responsiveness for smaller screens */
 @media (max-width: 800px) {
  .main {
    width: 95%;
  }
  h1 {
    font-weight: 600;
    text-align: center;
  }
}
